<h1>Тестовое задание для ФГБУ «ФРЦ» Минздрава России</h1>

<% if has_role?(:admin) %>
<%= link_to 'Справочник должностей', positions_path %><br>
<% end %>
<%= link_to 'Справочник сотрудников', users_path %>